<div class="admin-photo">
  <div class="container pt-5">
    <div class="row">
      <div class="col-12">
        <h4><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h4>

        <%= form_with url: admin_customer_path(@customer), model: [:admin ,@customer], local: true, class:'mt-4' do |f| %>
          <div class="form-group">
            <%= f.label :'会員ID', class:"col-2" %>
            <%= @customer.id %>
          </div>
          <div class="form-group">
            <%= f.label :'氏名', class:"col-2" %>
            <%= f.text_field :last_name, class:"mr-3" %>
            <%= f.text_field :first_name %>
          </div>
          <div class="form-group">
            <%= f.label :'フリガナ', class:"col-2" %>
            <%= f.text_field :last_name_kana, class:"mr-3" %>
            <%= f.text_field :first_name_kana %>
          </div>
          <div class="form-group">
            <%= f.label :'郵便番号', class:"col-2" %>
            <%= f.text_field :postal_code %>
          </div>
          <div class="form-group">
            <%= f.label :'住所', class:"col-2" %>
            <%= f.text_field :address, class:"col-7 px-1" %>
          </div>
          <div class="form-group">
            <%= f.label :'電話番号', class:"col-2" %>
            <%= f.text_field :tel_number %>
          </div>
          <div class="form-group">
            <%= f.label :'メールアドレス', class:"col-2" %>
            <%= f.text_field :email %>
          </div>
          <div>
            <%= f.label :'会員ステータス', class:"col-2" %>
            <input type='checkbox' value='false' name='customer[is_deleted]' id='status-false'>
            <label class='mr-3' for='status-false'>有効</label>
            <input type='checkbox' value='true' name='customer[is_deleted]' id='status-true'>
            <label for='status-true'>退会</label>
          </div>
          <div class="d-flex">
            <div class="col-4 offset-2 p-0"><%= f.submit '変更を保存', class:"btn btn-sm btn-success col-7" %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
