<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>ジャンル一覧・追加</h2>
      <%= form_with model: [:admin, @genre], local:true do |f| %>
        <div class="form-group">
          <%= f.label :ジャンル名 %>
          <%= f.text_field :name, class: "form-control-name" %>
          <%= f.submit '新規登録', class: 'btn btn-success' %>
        </div>
      <% end %>
      <div class='col-md-3'>
        <table class='table table-hover table-inverse'>
          <thead>
            <tr>
              <th>ジャンル</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @genres.each do |genre| %>
              <tr>
                <td><%= genre.name %></td>
                <td>
                  <%= link_to '編集する', edit_admin_genre_path(genre), class:"btn btn-sm btn-success mx-3" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>