<div class="container">
  <div class="row">
    <div class="col-11 mx-auto mt-3">
      <h3 class="d-inline bg-light">マイページ</h3>

      <div class="d-flex mt-3">
        <h5 class="font-weight-bold">登録情報</h5>
        <%= link_to '編集する', edit_customers_path, class:"btn btn-sm btn-success mx-3" %>
      </div>

      <table class="col-7 table table-bordered mt-3">
        <tr>
          <td class="table-secondary">氏名</td>
          <td><%= @customer.last_name %><%= @customer.first_name %></td>
        </tr>
        <tr>
          <td class="table-secondary">カナ</td>
          <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <td class="table-secondary">郵便番号</td>
          <td><%= @customer.postal_code %></td>
        </tr>
        <tr>
          <td class="table-secondary">住所</td>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <td class="table-secondary">電話番号</td>
          <td><%= @customer.postal_code %></td>
        </tr>
        <tr>
          <td class="table-secondary">メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
      </table>

      <div class="d-flex col-5 p-0 my-3">
        <h5 class="font-weight-bold col-4 p-0">配送先</h5>
        <%= link_to '一覧を見る', edit_customers_path(@customer), class:"btn btn-sm btn-primary" %>
      </div>

      <div class="d-flex col-5 p-0">
        <h5 class="font-weight-bold col-4 p-0">注文履歴</h5>
        <%= link_to '一覧を見る', edit_customers_path(@customer), class:"btn btn-sm btn-primary" %>
    </div>
  </div>
</div>