<div class="order-new-img">
  <div role="content">
    <div class="widget-body">
      <div class="row justify-content-center">
        <form id="wizard-1" novalidate="novalidate">
          <div id="bootstrap-wizard-1" class="col-sm-12">
            <div class="form-bootstrapWizard">
              <ul class="bootstrapWizard form-wizard">
                <li data-target="#step1" class=""> <span class="step">1</span> <span class="title">カートに入れる</span></li>
                <li class="active" data-target="#step2"><span class="fas fa-coffee fa-2x cupcolor"></span> <span class="title">注文情報入力</span></li>
                <li data-target="#step3" class="">  <span class="step">3</span> <span class="title">注文内容を確認</span></li>
                <li data-target="#step4" class=""> <span class="step">4</span> <span class="title">完了</span></li>
              </ul>
              <div class="clearfix"></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class='container py-3'>
    <%= render 'layouts/error', obj: @order %>
    <h3 class='mb-3'>注文情報入力</h3>
    <%= form_with model: @order, url: orders_confirm_path, local:true do |f| %>
      <p class='font-weight-bold mb-0'>支払方法</p>
      <div class='ml-4'>
        <%= f.radio_button :payment_way, 'card', id:'order_card', class:'mr-1' %>
        <%= f.label :card, "クレジットカード" %><br>
        <%= f.radio_button :payment_way, 'bank', id:'order_bank', class:'mr-1' %>
        <%= f.label :bank, "銀行振込" %>
    　</div>
    　<p class='font-weight-bold mb-0'>お届け先</p>
      <div class='ml-4'>
        <div class='form-group'>
          <%= radio_button_tag :address, 'now', false, class:'mr-1'%>
          <%= label_tag :address_now, "現在の住所" %>
          <p class='ml-4'>
            〒<%= @customer.postal_code %> <%= @customer.address %><br>
            <%= @customer.last_name + @customer.first_name %>
          </p>
        </div>
        <div class='form-group'>
          <%= radio_button_tag :address, 'select', false, class:'mr-1'%>
          <%= label_tag :address_select, "登録済住所から選択" %>
          <div class='ml-4'>
            <select name="select">
              <% @customer.addresses.each do |address| %>
                <option value=<%= address.id %>>〒<%= address.postal_code %> <%= address.address %>　<%= address.name %></option>
              <% end %>
            </select>
          </div>
        </div>
        <%= radio_button_tag :address, 'new', false, class:'mr-1'%>
        <%= label_tag :address_new, "新しいお届け先" %>
        <div class='ml-4'>
          <%= render 'addresses/form', f: f %>
        </div>
      </div>
      <div class='form-group text-center'>
        <%= f.submit '確認画面へ進む', class:'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>