<div class="order-new-img">
  <div role="content">
    <div class="widget-body">
      <div class="row">
        <form id="wizard-1" novalidate="novalidate">
          <div id="bootstrap-wizard-1" class="col-sm-12">
            <div class="form-bootstrapWizard">
              <ul class="bootstrapWizard form-wizard">
                <li data-target="#step1" class=""> <span class="step">1</span> <span class="title">カートに入れる</span></li>
                <li class="active" data-target="#step2"><span class="fas fa-coffee fa-2x cupcolor"></span> <span class="title">注文情報入力</span></li>
                <li data-target="#step3" class="">  <span class="step">3</span> <span class="title">注文内容を確認</span></li>
                <li data-target="#step4" class=""> <span class="step">4</span> <span class="title">完了</span></li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="tab-content">
              <div class="tab-pane" id="tab1"> <br>
                <h3><strong>買い物かごに入れる</strong> </h3>
              </div>
              <div class="tab-pane" id="tab2"> <br>
                <h3><strong>注文情報入力</strong> </h3>
              </div>
              <div class="tab-pane" id="tab3"> <br>
                <h3><strong>注文内容を確認</strong> </h3>
              </div>
              <div class="tab-pane" id="tab4"> <br>
                <h3><strong>完了</strong> </h3>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <div class='container pt-3'>
    <%= render 'layouts/error', obj: @order %>
    <h3 class='mb-3'>注文情報入力</h3>
    <%= form_with model: @order, url: orders_confirm_path, local:true do |f| %>
      <p class='font-weight-bold mb-0'>支払方法</p>
      <div class='ml-4'>
        <input type='checkbox' value='card' name='order[payment_way]' id='payment-way-0'>
        <label for='payment-way-0'>クレジットカード</label><br>
        <input type='checkbox' value='bank' name='order[payment_way]' id='payment-way-1'>
        <label for='payment-way-1'>銀行振込</label>
    　</div>
    　<p class='font-weight-bold mb-0'>お届け先</p>
      <div class='ml-4'>
        <div class='form-group'>
          <%= check_box_tag :now_address, '現在の住所', nil %>
          <%= label_tag :now_address, '現在の住所' %>
          <p class='ml-4'>
            〒<%= @customer.postal_code %> <%= @customer.address %><br>
            <%= @customer.last_name + @customer.first_name %>
          </p>
        </div>
        <div class='form-group'>
          <%= check_box_tag :select_address, '登録済住所', nil %>
          <%= label_tag :select_address, '登録済住所から選択' %>
          <div class='ml-4'>
            <select name="select">
              <% @customer.addresses.each do |address| %>
                <option value=<%= address.id %>>〒<%= address.postal_code %> <%= address.address %>　<%= address.name %></option>
              <% end %>
            </select>
          </div>
        </div>
        <%= check_box_tag :new_address, '新規の住所', nil %>
        <%= label_tag :new_address, '新しいお届け先' %>
        <div class='ml-4'>
          <%= render 'addresses/form', f: f %>
        </div>
      </div>
      <div class='form-group text-center'>
        <%= f.submit '確認画面へ進む', class:'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>