<div class="container">
  <div class="row mt-5">
    <div class="col-2">
      <%= render 'items/genre', genres: @genres %>
    </div>

    <div class="col-9">
      <h2>
        ようこそ、ながのCAKEへ<br />
        このサイトは、ケーキ販売のECサイトになります。<br />
        会員でない方も商品の閲覧はできますが、<br />
        購入には会員登録が必要です。
      </h2>
      <div>
        <h2 class="font-weight-bold my-3">新着商品</h2>
        <div class="d-flex">
          <% @items.first(4).each do |item| %>
            <div class="mr-3 mb-3">
              <%= link_to item_path(item) do %>
                <%= attachment_image_tag item, :image, :fill,210,150 %>
              <% end %>
              <p><%= link_to item.name, item_path(item) %></p>
              ¥<%= item.add_tax_price.to_s(:delimited) %>
            </div>
          <% end %>
        </div>
        <p class="text-right"><%= link_to '全ての商品を見る >', items_path %></p>
      </div>
    </div>
  </div>
</div>

