<div class="container">
  <div class="row">
    <div class="col-2">
      <%= render 'items/genre' %>
    </div>
    <div class="col-10">
      <div class="col-5">
        <%= attachment_image_tag @item, :image, :fill,250,200 %>
      </div>
      <div class="col-7">
        <h3 class="font-weight-bold"><%= @item.name %></h3>
        <h3><%= @item.introduction %></h3>
        <div class="d-flex">
          <h3 class="font-weight-bold">¥<%= @item.add_tax_price.to_s(:delimited) %></h3>
          <p class="d-flex align-items-end mb-2">(税込)</p>
        </div>
        <%= form_with url: cart_items_path, model: @cart_item, method: :post, local: true do |f| %>
          <div>
            <%= f.select :quantity, [*1..10], selected: 1 %>
            <%= f.hidden_field :item_id, value: @item.id %>
            <%= f.hidden_field :customer_id, value: current_customer.id %>
            <%= f.submit 'カートに入れる', class:"btn btn-sm btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>