<div class="offset-2">
  <div class="my-4"><h4 class="d-inline bg-light">ログイン</h4></div>
  <%= flash[:error] %>
  <div class="m-3"><h5 class="d-inline bg-light">会員の方はこちらからログイン</h5></div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :メールアドレス, class:"col-2" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", size: 50 %>
    </div>

    <div class="field my-2">
      <%= f.label :パスワード,class:"col-2" %>
      <%= f.password_field :password, autocomplete: "current-password", size: 50 %>
    </div>

    <div class="actions offset-2 my-4">
      <%= f.submit "ログイン" , class:"btn btn-sm btn-primary col-1" %>
    </div>
  <% end %>

  <div class="m-3"><h5 class="d-inline bg-light">会員登録がお済みでない方</h5></div>
  <p class="offset-1"><%= link_to 'こちら', new_customer_registration_path %>から新規登録を行ってください。</p>
</div>
